<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .d1{
            width: 100%;
            height: 700px;
        }

        .d2{
            height: 150px;
        }
        .d3{
            height: 550px;
        }

        .d3_1{
            float: left;
            height: 550px;
            width: 15%;
        }

        .d3_2{
            float: left;
            height: 550px;
            width: 85%;
        }
    </style>
</head>
<body>
<div class="d1">
    <div class="d2">
        <iframe src="top" width="100%" height="150"></iframe>
    </div>
    <div class="d3">
        <div class="d3_1"><iframe src="left" width="100%" height="550"></iframe></div>
        <div class="d3_2"><iframe name="mymain" src="show" width="100%" height="550"></iframe></div>
    </div>
</div>
</body>
</html>