<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softeem.springbootdemo.mapper.RecordMapper">

    <insert id="addrecord">
        insert into record(bookid,userid,borrowtime,status) values(#{bookid},#{userid},curdate(),0)
    </insert>

    <select id="findRecrod" resultType="com.softeem.springbootdemo.vo.RecordVo">
        select r.id,b.`name` as bookName ,u.`name` as userName,borrowtime,r.`status`,returntime  from
                    record r , book b , user u where r.bookid = b.id and r.userid = u.id
            <if test="name!=null and name!=''">
                and u.name = #{name}
            </if>
    </select>

    <select id="findRecrodById" resultType="com.softeem.springbootdemo.pojo.Record">
        select * from record where id = #{id}
    </select>

    <update id="updateRecrodStatus">
        update record set status = 1 , returntime = curdate() where id = #{id}
    </update>
</mapper>